* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none !important;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
}
.root {
  padding: 40px;
}
.create-room {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 15px 0;
}
.room-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 15px;
}
.room {
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connected-users {
  padding: 0 5px;
  font-size: 14px;
  width: 100%;
}
.room-name {
  font-size: 25px;
  text-align: center;
  padding: 20px 0;
}
.join-btn {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px 5px;
  width: 70px;
  margin-top: auto;
  margin-bottom: 20px;
}
.room-page {
  display: flex;
  height: 100%;
}
.progress-container {
  width: 100%;
  height: 20px;
  border: 1px solid black;
}
.user-progress {
  background-color: rgb(29, 248, 29);
  height: 100%;
}
.finish {
  background-color: green;
}
.ready-status {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 10px;
}
.ready-status-green {
  background-color: green;
}
.ready-status-red {
  background-color: red;
}
.user-top {
  align-items: center;
  margin: 10px 0;
}
.room-left {
  width: 300px;
}
.room-right {
  position: relative;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
}
.ready-to-go {
  font-size: 30px;
}
.char {
  display: inline;
}
.char-confirm {
  background-color: rgb(39, 182, 39);
  color: white;
}
.char-next {
  text-decoration: underline;
}
.seconds-left {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 14px;
}
.result {
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-winners {
  padding: 20px;
  position: relative;
  background-color: white;
  border-radius: 5px;
  min-width: 300px;
  min-height: 300px;
}
.fa-times {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
}
